<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Merriweather&display=swap" rel="stylesheet">
</head>
<body>
  <div class="float-class">
    <ul class="buttons-container">
        {% if request.user.is_authenticated %}
        <li class="actual-button-list"><a href="{% url 'auth_logout' %}"><button type="button">Logout</button></a></li>
        {% else %}
      <li class="actual-button-list"><a href="{% url 'auth_login' %}"><button type="button">Login</button></a></li>
      <li class="actual-button-list"><a href="{% url 'registration_register' %}"><button type="button">Signup</button></a></li>
        {% endif %}
    </ul>
  </div>
  <div class="header-img">
    <div class="text-box">
      <h1 class="freeshelf-title">Freeshelf</h1>
    </div>
  </div>
  
{% block sidebar %}
<header class="main-nav-head">
  <div class="wrapper">
    <nav class="main-nav">
      <ul class="sidebar-nav">
        <li class="actual-nav-list"><a class="actual-nav-links" href="{% url 'index' %}">Home</a></li>
        <li class="actual-nav-list"><a class="actual-nav-links" href="">Books</a></li>
        <li class="actual-nav-list"><a class="actual-nav-links" href="">Favourites</a></li>
        <li class="actual-nav-list" id="category-list"><a class="actual-nav-links" href="">Categories</a></li>
          <ul class="sub-nav-list">
            <li class="categories-list"><a class="sub-nav-links" href="/category-books/1">Python</a></li>
            <li class="categories-list"><a class="sub-nav-links" href="/category-books/2">Django</a></li>
            <li class="categories-list"><a class="sub-nav-links" href="/category-books/3">CLI</a></li>
            <li class="categories-list"><a class="sub-nav-links" href="/category-books/4">JavaScript</a></li>
            <li class="categories-list"><a class="sub-nav-links" href="/category-books/5">Lua</a></li>
          </ul>
      </ul>
    </nav>
  </div>
</header>
{% endblock %}
<div class="content">{% block content %}{% endblock %}</div>
</body>
</html>