{% extends "base.html" %}
{% block content %}

    <h1 class="welcome">Enjoy {{category.category_name}} books below:</h1>
    <ul class="book-list-detail">
        {% for book in books_by_category %}
        <div class="book-list-styling">
                <li><a href="{{ book.url }}"><img class="book-covers" src="{{ book.image_url }}"></a></li>
            </div>
            <details>
                <summary>More information</summary>
                <li class="book-info">{{ book.title }}</li>
                <li class="book-info">{{ book.author }}</li>
                <li class="book-info">{{ book.summary }}</li>
                <li class="book-info"><a class="url-failsafe" href="{{ book.url }}">Start reading!</a></li>
            </details>
        <div class="fav-parent">
        {% if request.user.is_authenticated and book in favourites %}
        <a href="{% url 'favourite-book' book.pk %}?next={{ request.path }}"><button class="button">unfavourite</button></a>
        {% elif request.user.is_authenticated %}
        <a href="{% url 'favourite-book' book.pk %}?next={{ request.path }}"><button class="button">favourite</button></a>
        {% endif %}
        </div>
        {% endfor %}
    </ul>
{% endblock %}