{% extends "base.html" %}
{% block content %}
    <p>Welcome, {{request.user.username}}:</p>

    <ul class="book-list-detail">
        {% for favourite in favourites %}
        <div class="book-info-styling">
            <li class="book-title">{{ book.title }}</li>
            <li class="book-timestamp">{{ book.timestamp }}</li>
            <li class="book-author">{{ book.author }}</li>
            <li class="book-summary">{{ book.summary }}</li>
        <div class=book-covers-styling>
            <li><img class="book-covers" src="{{ book.image_url }}"></li>
        </div>
        </div>

        <a href="{% url 'favourite-book' favourite.book.pk %}?next={{ request.path }}">unfavourite</a>

        {% endfor %}
    </ul>
{% endblock %}