{% extends "base.html" %}
{% block content %}
    <h1 class="welcome">Below are your favourites, {{request.user.username}}:</h1>

    <ul class="book-list-detail">
        {% for favourite in favourites %}
        <div class="book-list-styling">
            <li><img class="book-covers" src="{{ favourite.book.image_url }}"></li>
        </div>
        <details>
            <summary>More information</summary>
            <li class="book-info">{{ favourite.book.title }}</li>
            <li class="book-info">{{ favourite.book.author }}</li>
            <li class="book-info">{{ favourite.book.summary }}</li>
            <li class="book-info"><a class="url-failsafe" href="{{ favourite.book.url }}">Start reading now!</a></li>
        </details>

    <div class="fav-parent">
        <a class="fav" href="{% url 'favourite-book' favourite.book.pk %}?next={{ request.path }}"><button type="button">unfavourite</button></a>
    </div>
        {% endfor %}
    </ul>
{% endblock %} 