.float-class {
    float: right;
}
.buttons-container {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
}
.actual-button-list {
    list-style-type: none;
    padding-left: 15%;
    margin-right: 10%;
}
.content {
    font-family: 'Merriweather', serif;
    font-size: 1rem;
    padding-top: 40px;
}
body {
    background-color: #ffefd6;
}
.freeshelf-title {
    font-size: 42px;
    color: #24211e;
    font-family: 'Merriweather', serif;
    letter-spacing: 2.5;
}
.text-box {
    border: 1px solid #24211e;
    background: rgba(247, 240, 220, 0.7);
}

.header-img {
    text-align: center;
    height: 250px;
    padding-top: 150px;
    width: 100%;
    background: url('/static/images/library-warm.jpg');
    background-size: cover;
}

button {
    color: #000;
    text-transform: uppercase;
    outline: none;
    font-size: 0.5em;
    font-weight: 600;
    background: rgba(247, 240, 220, 0.9);
    padding: 1em 1.5em;
    box-shadow: inset 0 -2px 0 0 rgba(0,0,0,.2);
}

button:hover {
    color: #555;
}

button:active{
    color: rgba(36, 33, 30, 1);
    box-shadow: inset 0 -4px 0 0 rgba(0,0,0,.2);
}

.wrapper {
    background-color: #24211e;
    padding: 0;
    position: absolute;
    border-bottom: 2px solid #ffb347;
    line-height: 0.9;
    width: 98.75%;
}

.main-nav{
    float: right;
}

.actual-nav-list {
    display: inline;
    margin-left: 20px;

}

.actual-nav-links {
    color: white;
    font-size: 0.975rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}
            
.actual-nav-links:hover,
.actual-nav-links:focus-within{
    color: #ffb347;
    border-bottom: 2px #ffb347 solid;
    transition: color 0.3s ease-in-out;
    transition: border-bottom 0.2s ease-in-out;
}

.sidebar-nav {
    position: relative;
}
.sub-nav-list{
    display: none;
    background-color: #24211e;
    padding: 0;
    position: absolute;
    line-height: 0.9;
    width: 25%;
    margin-top: 1%;
    padding-top: 3%;
    margin-left: 59%;
    padding-right: 5.7%;
}

.sub-nav-links{
    color: white;
    font-size: 0.975rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}
.sub-nav-links:hover,
.sub-nav-links:focus-within{
    color: #ffb347;
    border-bottom: 2px #ffb347 solid;
    transition: color 0.3s ease-in-out;
    transition: border-bottom 0.2s ease-in-out;
}

.categories-list{
    padding: 4%;
    margin-bottom: 7%;
}

#category-list:hover + .sub-nav-list{
    display: block;
    list-style-type: none;   
}

ul li:focus-within > ul,
.sub-nav-list:hover {
    display: block;
    list-style-type: none;
}

.welcome {
    padding-top: 2%;
    text-align: center;
    font-size: 1.8rem;
}

.stock {
    text-align: center;
    font-size: 1.5rem;
}

.book-covers {
    max-width: 250px;
    align-items: center;
}

.book-list-styling {
    justify-content: center;
    margin: 0 auto;
}
.book-list-detail {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

details {
    justify-content: center;
    margin: 0 auto;
    padding: 20px;
}

summary {
    list-style-image: url('/static/images/hardbound-book-variant.svg');
}

summary::-webkit-details-marker {
    background: url('/static/images/hardbound-book-variant.svg');
    color: transparent;
}

/* .book-covers{
    width:200px;
    height:200px;
    background-size:cover;
    display:inline-block;
    margin:4px;
    border-radius:16px;
    box-shadow:0 0 16px rgba(0,0,0,0.5);
    position:relative;
  }

.book-covers *{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index:2;
}

.book-covers div{
    z-index:1;
    color:#fff;
    text-align:center;
    padding:8px;
    padding-top:35%;
    background-color:rgba(0,0,0,0.5);
    border-radius:16px;
    opacity:0;
    transition:.3s;
}
.book-covers div:target{
    opacity:1;  
    padding-top:40%;
    z-index:3;
} */
/* .book-covers {
    width: 30%;
    float: left;
    margin: 1.66%;
}

#book-detail {
    display: block;
    padding-top: 500px;
}

#book-detail:checked + label > img {
    display: block;
    width: 70px;
    height: 74px;
    padding-top: 500px;
}

.book-list-detail {
    list-style-type: none;
    display: none;
} */

/* .book-covers-styling {
    display: flex;
}
.book-info-styling {
    display: flex;
    flex-wrap: wrap;
}
.book-covers {
    order: 1;
    max-width: 250px;
    filter: drop-shadow(9px 9px 4px #ffb347);
    box-shadow: 8px 8px 3px rgba(0,0,0,.2);
    filter: drop-shadow(9px 9px 4px rgba(0,0,0,.5));
    box-shadow: 8px 8px 4px #ffb347;
}
.book-list-detail {
    list-style-type: none;
    display: flex;
} 
.book-title {
    order: 2;
    font-size: 1.875rem;
}
.book-author, .book-timestamp, .book-summary {
    order: 3;
} */
/* .book-title {
    list-style-type: square;
    text-decoration: none; */
/* .actual-nav-links:active{
    color: #ffb347;
} */

/* .actual-nav-links:nth-child(2n){
    color: RGBA(244, 201, 0, 1);
    border-bottom: 2px RGBA(244, 201, 0, 1) solid;
}

.actual-nav-links:nth-child(3n){
    color: RGBA(0, 179, 168, 1);
    border-bottom: 2px RGBA(0, 179, 168, 1) solid;
}

.actual-nav-links:nth-child(4n){
color: RGBA(57, 120, 187, 1);
border-bottom: 2px RGBA(57, 120, 187, 1) solid;
} */
